:host {
    display: block;
}

.container {
  font-family: var(--main-font-family);
}

.menu {
  color: var(--color-dark-gray);
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 1rem;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius-form-elements);
  outline: none;
  line-height: 1em;
  width: 100%;
}
