@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:host {
  /* fonts */
  --main-font-family: 'Open Sans', sans-serif;

  /* colors */
  --color-label-text-color: #ffffff;
  --color-light-gray: rgba(0, 0, 0, 0.1);

  /* styles, layout */
  --border-radius-form-elements: 10px;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
